{{#each history}}
<div class="card mb-3">
    <div class="card-header">{{ locationName }}</div>
    <div class="card-body">

        <p class="card-text"> {{ userName }} reservó la {{ roomName }} el día {{ date }} a las {{ dateTime }} por
            {{ timeUsed }} horas.
        </p>

    </div>
</div>
{{/each}}