<tr class="table-light">
    <td>{{ name }}</td>
    <td>{{ position }}</td>
    <td>{{ email }}</td>
    <td>{{ office }}</td>
    <td>{{ phone }}</td>
    <td><a href="/user/profile/{{ _id }}"> <i class="material-icons">create</i></a></td>
</tr>