<div class="card mb-3">
    <div class="card-header">{{ position }}</div>
    <div class="card-body">
        <h4 class="card-title">{{ name }}</h4>
        <p class="card-text"> <b>Email:</b> {{ email }}</p>
        <p class="card-text"> <b>Teléfono:</b> {{ phone }}</p>
        <p class="card-text"> <b>Oficina:</b> {{ office }}</p>

        <div class="container-center-horizontal w-100">
            <form action="user/accept/{{ _id }}" method="POST"><button type="submit"
                    class="btn btn-success">Aceptar</button></form>
            <form action="user/delete/{{ _id }}" method="POST">
                <button type="submit" class="btn btn-danger">Rechazar</button>
            </form>
        </div>

    </div>
</div>