<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.position }}</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
            <li class="list-group-item"><b>Teléfono:</b> {{ user.phone }}</li>
            <li class="list-group-item"><b>Oficina:</b> {{ user.office }}</li>
        </ul>
    </div>
</div>