<tr>
    <td class="mdl-data-table__cell--non-numeric">{{ name }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ position }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ email }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ office }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ phone }}</td>
    <td class="mdl-data-table__cell--non-numeric"><a class="mdl-navigation__link" href="/user/profile/{{ _id }}">
            <div id="{{ _id }}" class="icon material-icons">edit</div>
            <div class="mdl-tooltip" for="{{ _id }}">
                Editar a {{ name }}
            </div>
        </a>
    </td>
</tr>